<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
    <title>Dione</title>
    <style>
      html {
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* background: rgb(28,28,28);
            background: linear-gradient(rgba(28,28,28,1) 0%, rgba(37,150,190,1) 55%, rgba(122,207,199,1) 100%); */
        background: linear-gradient(60deg, #7acfc7, #2596be, #ffc35b);
        background-size: 150% 150% !important;
        animation: gradient-animation 15s ease-in-out infinite alternate both;
        /* font-family: 'Oswald', sans-serif; */
        font-family: "Tilt Neon", sans-serif;
      }

      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      .menu-bar {
        /* background-color: #1c1c1c; */
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .icon {
        font-size: 24px;
        margin-right: 10px;
      }

      .menu-logo {
        max-width: 40px;
        margin-right: 10px;
      }

      .social-icons {
        display: flex;
        align-items: center;
      }

      .social-icon {
        font-size: 20px;
        margin-left: 10px;
        color: #fff;
        text-decoration: none;
      }

      .copy-text {
        position: relative;
        padding: 10px;
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 10px;
        display: flex;
      }
      .copy-text input.text {
        padding: 10px;
        font-size: 18px;
        color: #555;
        border: none;
        outline: none;
      }
      .copy-text button {
        padding: 10px;
        background: #426c67;
        color: #fff;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
      }

      .copy-text button:active {
        background: #426c67;
      }
      .copy-text button:before {
        content: "Copied";
        position: absolute;
        top: -45px;
        right: 0px;
        background: #4c847c;
        padding: 8px 10px;
        border-radius: 20px;
        font-size: 15px;
        display: none;
      }
      .copy-text button:after {
        content: "";
        position: absolute;
        top: -20px;
        right: 25px;
        width: 10px;
        height: 10px;
        background: #4c847c;
        transform: rotate(45deg);
        display: none;
      }
      .copy-text.active button:before,
      .copy-text.active button:after {
        display: block;
      }

      .brand-icon {
        margin-top: -10px;
        margin-right: -5px;
      }
      .brand {
        font-size: 64px;
        /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
        -webkit-text-stroke: 1px #1c1c1c;
      }
    </style>
  </head>
  <body>
    <div class="menu-bar">
      <img
        src=""
        height="36"
        class="menu-logo"
      />
      <!-- <i class="fas fa-icon-name icon"></i> Dione -->
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/weronikawzak/" class="social-icon">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/weronikazak" class="social-icon">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://weronika.link/" class="social-icon">
          <i class="fas fa-globe"></i>
        </a>
      </div>
    </div>
    <div class="container mt-5">
      <div class="mt-3 text-center">
        <h1 class="text-white brand">
            <img src="https://raw.githubusercontent.com/weronikazak/weronikazak.github.io/master/images/dione.png" class="brand-icon" height="64">ione</h1>
        <h2 class="text-white">
            Visual Studio Code Extension integrated with Confluence to boost your productivity.

        </h2>        
          <p class="text-white"> Copy the access token below and paste it in the extension.
        </p>
        <div class="copy-text">
          <input
            type="text"
            id="accessToken"
            class="form-control text"
            value="<%=accessToken%>"
            readonly
          />
          <button><i class="fa fa-clone"></i></button>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      let copyText = document.querySelector(".copy-text");
      copyText.querySelector("button").addEventListener("click", function () {
        let input = copyText.querySelector("input.text");
        input.select();
        document.execCommand("copy");
        copyText.classList.add("active");
        window.getSelection().removeAllRanges();
        setTimeout(function () {
          copyText.classList.remove("active");
        }, 2500);
      });
    </script>
  </body>
</html>
